{
  "swagger": "2.0",
  "info": {
    "title": "GridX_Admin",
    "description": "This is the GridX Admin Api Documentation",
    "version": "1.0.0"
  },
  "host": "backend2.gridxmeter.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "tags":[
 {
  "name": "auth",
  "description": "Admin Auth"
 },
 {
   "name": "energy",
   "description": "Energy Endpoints with energy Analysis."
 },
{
  "name":"finance",
  "description": "Finance Endpoints with finance Analysis."
},
{
  "name":"meter",
  "description": "Meter Endpoints with meter Analysis."
},{
  "name":"percentages",
  "description": "Percentage Endpoints with percentage Analysis."
},
{
  "name": "meter_status",
  "description": "Meter Status Endpoints with meter status Analysis."
},{
  "name":"transformer_status",
  "description": "Transformer Status Endpoints with transformer status Analysis."
},
{
  "name":"grid_topology",
  "description": "Grid Topology Endpoints with grid topology Analysis."
},
{
  "name": "notifications",
  "description": "Notification Endpoints with notification Analysis."
},
{
  "name":"system_Settings",
  "description": "System Settings Endpoints with system settings Analysis."
}],
  "paths": {
    "/adminSignup": {
      "post": {
        "tags": ["auth"],
        "description": "Signing up of Admins by highest level Admins.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "Username": {
                  "example": "Admin100"
                },
                "Password": {
                  "example": "Admin@123"
                },
                "FirstName": {
                  "example": "Gridx"
                },
                "LastName": {
                  "example": "Pulsar"
                },
                "Email": {
                  "example": "admin@pulsar.com"
                },
                "IsActive": {
                  "example": 1
                },
                "RoleName": {
                  "example": "Admin"
                },
                "AccessLevel": {
                  "example": 2
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/signin": {
      "post": {
        "tags": ["auth"],
        "description": "Admin Login to authenticate them selves",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "Email": {
                  "example": "admin@pulsar.com"
                },
                "Password": {
                  "example": "Admin@123"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/protected": {
      "get": {
        "tags": ["auth"],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/profile/{UserID}": {
      "get": {
        "tags": ["auth"],
        "description": "",
        "parameters": [
          {
            "name": "UserID",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/allUsers": {
      "get": {
        "tags": ["auth"],
        "description": "Getting a collection of all Clients on the system.",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/allAdmins": {
      "get": {
        "tags": ["auth"],
        "description": "Getting a collectiont of all admins on the system.",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/AdminUpdate/{Admin_ID}": {
      "post": {
        "tags": ["auth"],
        "description": "",
        "parameters": [
          {
            "name": "Admin_ID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "FirstName": {
                  "example": "any"
                },
                "Email": {
                  "example": "any"
                },
                "LastName": {
                  "example": "any"
                },
                "AccessLevel": {
                  "example": "any"
                },
                "Username": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/UserUpdate/{UserID}": {
      "post": {
        "tags": ["auth"],
        "description": "",
        "parameters": [
          {
            "name": "UserID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "FirstName": {
                  "example": "any"
                },
                "Email": {
                  "example": "any"
                },
                "LastName": {
                  "example": "any"
                },
                "DRN": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/deleteAdmin/{Admin_ID}": {
      "delete": {
        "tags": ["auth"],
        "description": "",
        "parameters": [
          {
            "name": "Admin_ID",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/updateStatus/{Admin_ID}": {
      "post": {
        "tags": ["auth"],
        "description": "",
        "parameters": [
          {
            "name": "Admin_ID",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/resetPassword/{Admin_ID}": {
      "post": {
        "tags": ["auth"],
        "description": "",
        "parameters": [
          {
            "name": "Admin_ID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "Password": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/adminAuth/accessLevel": {
      "get": {
        "tags": ["auth"],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/finance/time-periods": {
      "get": {
        "tags":["finance"],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/finance/currentAndLastYearMonthRevenueTotal": {
      "get": {
        "tags":["finance"],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/finance/currentAndLastWeek": {
      "get": {
        "tags":["finance"],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/finance/hourlyRevenue": {
      "get": {
        "tags":["finance"],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/finance/suburbTimePeriod": {
      "post": {
        "tags":["finance"],
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "suburbs": {
                  "example": "Academia"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/finance/suburbWeeklyRevenue": {
      "post": {
        "tags":["finance"],
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "suburbs": {
                  "example": "Academia"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/finance/suburbYearlyRevenue": {
      "post": {
        "tags":["finance"],
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "suburbs": {
                  "example": "Academia"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/meter_change": {
      "get": {
        "tags": ["percentages"],
        "description": "Meter percentage change between meters added to  the system in the current month and previous previous.",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/active_state_count": {
      "get": {
        "tags": ["percentages"],
        "description": "Percentage of active meters between the current day and previous day",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/inactive_state_count": {
      "get": {
        "tags": ["percentages"],
        "description": "Percentage of inactive meters between the current day and previous day",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/powerIncreaseOrDecrease": {
      "get": {
        "tags":["percentages"],
        "description": "Energy Increase or decrease in the time periods (day,month.year)",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/suburbAdvancedPowerIncreaseOrDecrease": {
      "post": {
        "tags":["percentages"],
        "description": "Specifc Suburb/Area energy increase or decrease in the time periods (day,month,year)",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "suburbs": {
                  "example": "Academia"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "No data Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/tokenAmountIncreaseOrDecrease": {
      "get": {
        "tags":["finance"],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/suburbRevenueIncreaseOrDecrease": {
      "post": {
        "tags":["percentages"],
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "suburbs": {
                  "example": "Academia"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/time-periods-ratios": {
      "get": {
        "tags":["percentages"],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/WeekRatio": {
      "get": {
        "tags":["percentages"],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/monthRatios": {
      "get": {
        "tags":["percentages"],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/insertMeterData": {
      "post": {
        "tags":["meter_status"],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/insertTransformer": {
      "post": {
        "tags":["transformer_status"],
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "TransformerData": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/allProcessedTokensByDRN{DRN}": {
      "get": {
        "tags":["finance"],
        "description": "All Processed Tokens by DRN/Meter",
        "parameters": [
          {
            "name": "allProcessedTokensByDRNDRN",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/meterWeekAndMonthData{DRN}": {
      "get": {
        "tags":["energy"],
        "description": "Weekly and monthly energy by meter",
        "parameters": [
          {
            "name": "meterWeekAndMonthDataDRN",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/getAllProcessedTokensByDRN{DRN}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "getAllProcessedTokensByDRNDRN",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/meterDataByDRN{DRN}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "meterDataByDRNDRN",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/activeInactiveMeters": {
      "get": {
        "tags":["meter_status"],
        "description": "",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/totalMeters": {
      "get": {
        "tags":["meter_status"],
        "description": "",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/tokenAmount": {
      "get": {
        "tags":["finance"],
        "description": "",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/totalTokensBought": {
      "get": {
        "tags":["finance"],
        "description": "",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/weeklyDataAmount": {
      "get": {
        "tags":["energy"],
        "description": "",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/currentDayEnergy": {
      "get": {
        "tags":["energy"],
        "description": "",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/gridTopology": {
      "post": {
        "tags":["grid_topology"],
        "description": "",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "cities": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/energy-time-periods": {
      "get": {
        "tags":["energy"],
        "description": "",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/yearly/currentAndLastYearMonthEnergyTotal": {
      "get": {
        "tags":["energy"],
        "description": "",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/weekly/currentAndLastWeekEnergyTotal": {
      "get": {
        "tags":["energy"],
        "description": "",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/hourlyPowerConsumption": {
      "get": {
        "tags":["energy"],
        "description": "",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/average-current-voltage": {
      "get": {
        "tags":["energy"],
        "description": "",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/last-apparent-power": {
      "get": {
        "tags":["energy"],
        "description": "",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/suburb-time-periods": {
      "post": {
        "tags":["energy"],
        "description": "",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "suburbs": {
                  "example": "Academia"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/search-by-weekly-power": {
      "post": {
        "tags":["energy"],
        "description": "",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "suburbs": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/search-by-monthly-power": {
      "post": {
        "tags":["energy"],
        "description": "",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "suburbs": {
                  "example": "Academia"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/get-system-processed-tokens": {
      "get": {
        "tags":["finance"],
        "description": "",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/total-tranformers": {
      "get": {
        "tags":["transformer_status"],
        "description": "",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/getSuburbEnergy": {
      "post": {
        "tags":["energy"],
        "description": "",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "suburbs": {
                  "example": "Academia"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/getSuburbHourlyEnergy": {
      "post": {
        "tags":["energy"],
        "description": "",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "suburbs": {
                  "example": "Academia"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/meterResetHistory/{DRN}": {
      "get": {
        "tags":["meter_status"],
        "description": "",
        "parameters": [
          {
            "name": "DRN",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/meterCalibrationHistory/{DRN}": {
      "get": {
        "tags":["meter_status"],
        "description": "",
        "parameters": [
          {
            "name": "DRN",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/meterControlHistory/{DRN}": {
      "get": {
        "tags":["meter_status"],
        "description": "",
        "parameters": [
          {
            "name": "DRN",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/meterStateHistory/{DRN}": {
      "get": {
        "tags":["meter_status"],
        "description": "",
        "parameters": [
          {
            "name": "DRN",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/heaterControlHistory/{DRN}": {
      "get": {
        "tags":["meter_status"],
        "description": "",
        "parameters": [
          {
            "name": "DRN",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/heaterStateHistory/{DRN}": {
      "get": {
        "tags":["meter_status"],
        "description": "",
        "parameters": [
          {
            "name": "DRN",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/stsTokenHistory/{DRN}": {
      "get": {
        "tags":["meter_status"],
        "description": "",
        "parameters": [
          {
            "name": "DRN",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/tokenInformation/{DRN}": {
      "get": {
        "tags":["finance"],
        "description": "",
        "parameters": [
          {
            "name": "DRN",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/deleteNotifications/{id}": {
      "delete": {
        "tags":["notifications"],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/notificationsByDRN/{DRN}": {
      "get": {
        "tags":["notifications"],
        "description": "",
        "parameters": [
          {
            "name": "DRN",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/criticalNotifications": {
      "get": {
        "tags":["notifications"],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/getAll": {
      "get": {
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/notificationTypes": {
      "get": {
        "tags":["notifications"],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/notificationsTypesByDRN/{DRN}": {
      "get": {
        "tags":["notifications"],
        "description": "",
        "parameters": [
          {
            "name": "DRN",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/getVoltageThresholds": {
      "get": {
        "tags":["system_Settings"],
        "description": "",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/updateVoltageThresholds": {
      "put": {
        "tags":["system_Settings"],
        "description": "",
        "parameters": [
          {
             "name":"body",
             "in":"body",
             "required":true,
             "schema":{
              "type":"object",
              "properties":{
                "newUpperThreshold":{
                  "type":"number",
                  "example":300

                },
                "newLowerThreshold":{
                  "type":"number",
                  "example":30
                },
                "type":{
                  "type":"string",
                  "example": "Warning"

                },
                "IsActive":{
                  "type":"boolean",
                  "example":true

                }

              }

             }
        
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/getCurrentThresholds": {
      "get": {
        "tags":["system_Settings"],
        "description": "",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/updateCurrentThresholds": {
      "put": {
        "tags":["system_Settings"],
        "description": "",
        "parameters": [
          {
             "name":"body",
             "in":"body",
             "required":true,
             "schema":{
              "type":"object",
              "properties":{
                "newUpperThreshold":{
                  "type":"number",
                  "example":300

                },
                "newLowerThreshold":{
                  "type":"number",
                  "example":30
                },
                "type":{
                  "type":"string",
                  "example": "Warning"

                },
                "IsActive":{
                  "type":"boolean",
                  "example":true

                }

              }

             }
        
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/systemSettings/getActivePowerThresholds": {
      "get": {
        "tags":["system_Settings"],
        "description": "",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/systemSettings/updateActivePowerThresholds": {
      "put": {
        "tags":["system_Settings"],
        "description": "",
        "parameters": [
          {
             "name":"body",
             "in":"body",
             "required":true,
             "schema":{
              "type":"object",
              "properties":{
                "newUpperThreshold":{
                  "type":"number",
                  "example":300

                },
                "newLowerThreshold":{
                  "type":"number",
                  "example":30
                },
                "type":{
                  "type":"string",
                  "example": "Warning"

                },
                "IsActive":{
                  "type":"boolean",
                  "example":true

                }

              }

             }
        
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/systemSettings/getReactivePowerThresholds": {
      "get": {
        "tags":["system_Settings"],
        "description": "",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/systemSettings/updateReactivePowerThresholds": {
      "put": {
        "tags":["system_Settings"],
        "description": "",
        "parameters": [
          {
             "name":"body",
             "in":"body",
             "required":true,
             "schema":{
              "type":"object",
              "properties":{
                "newUpperThreshold":{
                  "type":"number",
                  "example":300

                },
                "newLowerThreshold":{
                  "type":"number",
                  "example":30
                },
                "type":{
                  "type":"string",
                  "example": "Warning"

                },
                "IsActive":{
                  "type":"boolean",
                  "example":true

                }

              }

             }
        
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/systemSettings/getApparentPowerThresholds": {
      "get": {
        "tags":["system_Settings"],
        "description": "",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/systemSettings/updateApparentPowerThresholds": {
      "put": {
        "tags":["system_Settings"],
        "description": "",
        "parameters": [
          {
             "name":"body",
             "in":"body",
             "required":true,
             "schema":{
              "type":"object",
              "properties":{
                "newUpperThreshold":{
                  "type":"number",
                  "example":300

                },
                "newLowerThreshold":{
                  "type":"number",
                  "example":30
                },
                "type":{
                  "type":"string",
                  "example": "Warning"

                },
                "IsActive":{
                  "type":"boolean",
                  "example":true

                }

              }

             }
        
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/systemSettings/getPowerFactorThresholds": {
      "get": {
        
        "tags":["system_Settings"],
        "description": "Get Power Factor Thresholds",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/systemSettings/updatePowerFactorThresholds": {
      "put": {
        "tags":["system_Settings"],
        "description": "Update Power Factor Thresholds",
        "parameters": [
          
         {
           "name":"body",
           "in":"body",
           "required":true,
           "schema":{
             "type":"object",
             "properties":{
               
               "newLowerThreshold" :{
                "type":"number",
                "example":70
               },
               "type" : {
                "type":"string",
                "example":"Warning"
               },
               "IsActive" :{
                "type":"boolean",
                "example":true
               }
             }
           }
         }
            
      
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/systemSettings/getTemperatureThresholds": {
      "get": {
        "tags":["system_Settings"],
        "description": "",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/systemSettings/updateTemperatureThresholds": {
      "put": {
        "tags":["system_Settings"],
        "description": "",
        "parameters": [
          {
            
          "name": "body",
          "index": "body",
          "required": true,
          "schema":{
            "type": "object",
            "properties": {
              "newUpperThreshold": {
                "type":"number",
                "example": 70
              },
              
              "type" :{
                "type":"string",
                "example":"Warning"
              } ,

              "IsActive" :{
                "type":"boolean",
                "example":true
              }
            }
          }

        
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/systemSettings/getLowEnergyUnitsThresholds": {
      "get": {
        "tags":["system_Settings"],
        "description": "Get Frequency Deviation Thresholds",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/systemSettings/updateLowEnergyUnitsThresholds": {
      "put": {
        "tags":["system_Settings"],
        "description": "Update frequency deviation thresholds",
        "parameters": [
          {
            "name":"body",
            "in":"body",
            "required":true,
            "schema": {
              "type":"object",
               "properties":{
                "newUpperThreshold": {
              "type": "number",
              "example": 300
            },
            "newLowerThreshold": {
              "type": "number",
              "example": 0.70
            },
            "type": {
              "type": "string",
              "example": "Critical"
            },
            "IsActive": {
              "type": "boolean",
              "example": false
            }
               }
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/systemSettings/getFrequencyDeviationThresholds": {
      "get": {
        "tags":["system_Settings"],
        "description": "Get Frequency Deviation Thresholds",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/systemSettings/updateFrequencyDeviationThresholds": {
     "put": {
      "tags":["system_Settings"],
    "description": "Update frequency deviation thresholds",
    "parameters": [
      {
        "name": "body",
        "in": "body",
        "required": true,
        "schema": {
          "type": "object",
          "properties": {
            "newUpperThreshold": {
              "type": "number",
              "example": 300
            },
            "newLowerThreshold": {
              "type": "number",
              "example": 0.70
            },
            "type": {
              "type": "string",
              "example": "Critical"
            },
            "IsActive": {
              "type": "boolean",
              "example": false
            }
          }
        }
      }
    ],
    "responses": {
      "401": {
        "description": "Unauthorized"
      },
      "403": {
        "description": "Forbidden"
      }
    }
  }
}

  }
}